melee @ git+https://github.com/vladfi1/libmelee@b4a1a2585119bcedc398a512990dd9b95102eb74
numpy
pandas
torch
autoflake==2.1.1
autotyping==23.3.0
black==23.9.1
click
isort
pip-tools
libcst
mypy-extensions
attrs
loguru
tqdm
matplotlib
seaborn
more_itertools
scikit-learn
pytest
wandb
tensordict==0.6.0  # https://github.com/pytorch/tensordict/issues/1235
torchvision
nvitop
mosaicml-streaming>=0.11.0
yasoo
pyarrow==16.0.0  # https://github.com/pandas-dev/pandas/issues/59203